body
{
    background-color: black;
}

.word
{
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.line
{
    display: flex;
    justify-content: space-between;
    width: 300px;
}